# Ignore the  directory

Analyse/Functions/


# Ignore venv directory
/venv
Analyse/Functions/

# The file containing environment variables 
.env
.json
.key
# Ignore IDE specific files
.idea/
.vscode/
*.sw*